.kaufman{
    margin: 0 auto;
    position: relative;
    background-color: #1f1f1f;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0;
    color: rgb(255,255,255);
    z-index: 1;
    }